
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app.component.css">
    
 <div class="toolbar" role="banner">
  <img src=""/>
  <span>Mountain State Swap</span>
    <div class="spacer"></div>
    </div> 



<footer class="footer">
  <div class="footer-links">
    <a href="privacy-policy.html">Privacy Policy</a>
    <a href="terms-of-service.html">Terms of Service</a>
    <a href="contact-us.html">Contact Us</a>
  </div>
</footer>


<button class=signup-button (click)="openSignUpForm()">Sign Up</button>
     <div class="signup-container">
      
      <div *ngIf="showSignUpForm" class="signup-form">
      <span class="close" (click)="closeSignUpForm()">&times;</span>
        <h2>Sign Up</h2>
        <form (submit)="submitSignUpForm()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    



 